.box__controls {
	display: flex;
	flex-direction: column;
	width: 35%;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px 0;
	background-color: #000;
	border-radius: 15px;
	box-shadow: 0 0 10px #000;
}
.box__control {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 5px;
}
.box__control label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
}

.box__control input,
select {
	padding: 12px 16px;
	margin-top: 2px;
	border-radius: 6px;
	width: 50%;
	max-width: 100%;
	font-size: 16px;
	color: #000;
	border: 3px solid black;
}
.box__control .error {
	border: 3px solid red;
	background-color: rgb(221, 114, 114);
}
.box__control p {
	margin: 5px 0 0;
	color: red;
	visibility: hidden;
}
.box__control .show-paras {
	visibility: visible;
}

.submit {
	width: 30%;
	padding: 6px 8px;
	margin: 10px auto 0;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	transition: bacground-color 0.5s, color 0.5s;
}
.submit:hover {
	background-color: #fff;
	color: #000;
}
